<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../../../assets/Daimler_AG.png" id="icon" alt="User Icon" style="width: 200px;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
        <button pButton pRipple type="button" pTooltip="Logout" (click)="logout()" icon="pi pi-sign-out" class="p-button-rounded p-button-text p-button-primary">
      </button>
      </span>
    </div>
  </div>
</nav>


