footer {
  position: fixed;
  padding-top: 15px !important;
  height: 60px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f8f9fa !important;
  color: #00315e !important;
}
